body {
    background-image:url("https://thumbs.dreamstime.com/b/vetor-de-ilustra%C3%A7%C3%A3o-da-banana-fruta-arte-em-pixel-para-o-jogo-pixelizada-pixelada-art-e-%C3%ADcone-site-v%C3%ADdeo-retro-escolar-antigo-321996506.jpg");
    font-family: "Montserrat", sans-serif;
}

.cor {
    color:rgb(0, 0, 0);
}

.item-especial {
    font-style:italic;
}